# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
# Ignore environment key files containing API secrets and config values
.env
.venv/
env/
venv/
ENV/

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Data
data/output/

